body {
    margin: 0;

}

.weatherApp {
    background-image: url("/PXL_20211101_014641329.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.location {
    text-align: right;
    padding: 60px 130px 0px 0px;
}

.location h3,
.location h5 {
    margin: 0px;
    color:aliceblue;

}

.information {
    padding: 0px 110px;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    color:black;
}

.temp_information h2 {
    font-size: 50px;
}

.search {
    display: flex;
    justify-content: center;
}

.search input {
    height: 30px;
    width: 400px;
    opacity: 0.8;
}

.search button {
    border: 0;
    background-color: rgb(137 171 50);
    opacity: 0.8;
    padding: 0px 30px;
    font-size: 15px;
}